*{
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #D4D4D4;
  background-color: #424242;
  background-image: url("background-image.jpg");
  background-size: 170%;
  background-position: -1247px -1000px;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.all-container {
  width: 936px;
  margin: 0 auto;
}
nav{
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding-top: 75px;
}

nav ul{
  /*padding-top: 75px;*/
  display:flex;
  list-style: none;
  justify-content: space-between;
  width: 936px;
  height: 29px;
  left: 492px;
  top: 75px;
}

nav ul li a{
  font-size: 24px;
  color: #D4D4D4;
  text-decoration: underline;
}

.main-container{
  padding-top: 168px;
  
}
